body {
  width: 100%;
}

body #H-header {
  width: 100%;
  height: .74rem;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
}

body #H-header .header-top {
  width: 100%;
  height: .42rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f2f2f2;
}

body #H-header .header-top .icon-xiaomi {
  color: #ff6b00;
  font-size: .2rem;
}

body #H-header .header-top form {
  position: relative;
}

body #H-header .header-top form input {
  display: block;
  width: 2.38rem;
  height: .32rem;
  padding-left: .3rem;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background: #ffff;
}

body #H-header .header-top form .icon-sousuo {
  position: absolute;
  top: .09rem;
  left: .1rem;
  font-size: .16rem;
}

body #H-header .header-top .icon-wode {
  font-size: .16rem;
}
body #H-header .in-lists{
  overflow: scroll;
}
body #H-header .in-list{
  height: .32rem;
  width:170%;
  background: #ffff;
}

body #H-header .in-list>li {
  text-align: center;
  float: left;
  height: .32rem;
  line-height: .32rem;
  margin: 0 .15rem; 
  width: .3rem;
}

body #H-header .in-list li:hover {
  color: #ff6b00;
  border-bottom: 2px solid #ff6b00;
}

body #H-header .icon-xiala {
  background: #ffff;
  position: absolute;
  top: .42rem;
  right: .15rem;
  padding: .08rem;
}




body #content {
  position: absolute;
  top: .74rem;
  left: 0;
  margin-bottom: .54rem;
  width: 100%;
}

body #content .in-box01 {
  min-height: 5.4rem;
}
body #content .in-box01 .icon {
  display: block;
  height: .2rem;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
}

body #content .in-box01 .icon span {
  display: block;
  float: left;
  width: .12rem;
  height: .12rem;
  border-radius: 50%;
  background: #000;
  margin-left: 10px;
}

body #content .in-box01 .icon span:hover {
  background: #ffff;
}

body #content .in-box01 .nav {
  width: 100%;
  height: .78rem;
}

body #content .in-box01 .nav ul {
  width: 100%;
  height: .78rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: .08rem solid #f5f5f5;
}

body #content .in-box01 .nav ul img {
  width: 20vw;
}

body #content .in-box01 .picture ul li {
  float: left;
  width: 50%;
}

body #content .in-box01 .picture ul li img {
  display: block;
  width: 100%;
  float: left;
}

body #content .in-box01 .picture ul li:nth-child(1) {
  width: 100%;
}

body #content .in-box01 .picture ul li:nth-child(1) img {
  width: 100%;
}
